@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-black antialiased;
  }
}

@layer utilities {
  .tracking-tighter {
    letter-spacing: -0.02em;
  }
}